<!DOCTYPE html>
<html lang="en">
<head>
  <title>Register Lottery</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
<div class="btn-group btn-group-justified">
  <a class="btn btn-primary" href="/">Register Lottery</a>
</div>
<div class="container">
  <h1>Too Litle Number of Participants!</h1>
  <div class="alert alert-danger">
    <strong>Failure!</strong> There are only <i>{{ number_of_registirations }} </i> participants. There should be at least 3 to define a winner!
  </div>
</div>
</body>
</html>
